<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/safari-pinned-tab.svg') }}" color="#211f30">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#211f30">
    <title>Bulmyeon :: {{ girl.name }}</title>
    <meta name="description" content="Vote for the most hottest girl!">
    <meta name="keywords" content="Bulmyeon, hot, girl, vote, game, hottest, beautiful, memes, vice, influenceurs, female, women, pink, aesthetic, beauty, y2k, leaderboard, latest, dark">
    <meta name="author" content="currentlyonciawatchlist">
    <meta property="og:title" content="Bulmyeon">
    <meta property="og:description" content="Vote for the most hottest girl!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://Bulmyeon.com/">
    <meta name="robots" content="index, follow">
</head>
<body>
    <div class="logo-container">
        <a href="{{ url_for('index') }}"><img class="logo" src="{{ url_for('static', filename='img/logohd-min.png') }}" alt="Bulmyeon logo"></a>
        <a href="{{ url_for('index') }}"><img class="logo text-logo" src="{{ url_for('static', filename='img/TempLogohd.png') }}" alt="Bulmyeon title"></a>
    </div>
    <div style="margin-top: 0; margin-bottom: 40px;" class="ticker-wrap ticker-wrap2">
        <div class="ticker ticker-1">
            {% for girl in random_girls %}
                {% if loop.index % 2 == 1 %}
                    <span class="item-collection-1">
                {% endif %}
                        <span class="item"><a href="{{ url_for('girl_page', girl_name=girl.name) }}"><img decoding="async" class="ticker-image" src="{{ girl.image_url }}" alt="{{ girl.name }}"  loading="lazy" width="50" height="50"></a>{% if girl.status == "verified" %}<strong class="verified-text"><img class="verified-icon verified-icon-2" src="{{ url_for('static', filename='img/verified.svg') }}" alt="Verified"></img></strong>{% endif %}{{ girl.name }}</span>
                {% if loop.index % 2 == 0 or loop.last %}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!--
    <div class="ads-container ads-container2">
        <p style="text-align: center; margin-bottom: 0;"><small>ads:</small></p>
        <a href="{{ ad_link }}" target="_blank"><img class="ads" src="{{ ad_path }}" alt="ads" decoding="async" loading="lazy" width="600" height="80"></a>
        <p style="text-align: center; margin-bottom: 0;"><small>Wants to add your ad? <a href="#">Click here</a></small></p>
    </div>
    -->
    <div class="info-container">
        <h1>{% if girl.status == "verified" %}<strong class="verified-text"><img class="verified-icon" src="{{ url_for('static', filename='img/verified.svg') }}" alt="Verified"></img></strong>{% endif %}{{ girl.name }}</h1>
        {% if girl_promo_link is not none %}
            {% set site_name = girl_promo_link.split('//')[-1].split('/')[0] %}
            <p><a href="{{ girl_promo_link }}" target="_blank">{{ site_name }}</a></p>
        {% endif %}
        <hr/>
        <div class="info-grid">
            <p>Current Votes: <strong>{{ girl.formatted_votes }}</strong></p>
            <p>Added Date: <strong>{{ girl.added_date.strftime('%d/%m/%y') }}</strong></p>
        </div>
        <p>Position in Leaderboard: <strong>{{ position }}</strong></p>
        <small>{% if girl.status == "verified" %}<strong class="verified-text">Verified Girl</strong>{% endif %}</small>
    </div>
    <p style="text-align: center; margin-top: 15px;"><small>Wants to be <strong class="verified-text"><img class="verified-icon verified-icon-3" src="{{ url_for('static', filename='img/verified.svg') }}" alt="Verified"></img></strong> verified? <a href="/verify">Click here</a></small></p>
    <div class="girl-position">
        {% if position > 1 %}
            <p style="text-align: center;">Girl Above: <a href="{{ url_for('girl_page', girl_name=leaderboard[position - 2].name) }}"><img decoding="async" class="mini-img" src="{{ leaderboard[position - 2].image_url }}" alt="{{ leaderboard[position - 2].name }}"  loading="lazy" width="50" height="50"></a> - Votes: <strong>{{ leaderboard[position - 2].formatted_votes }}</strong></p>
        {% endif %}
        <br>
        <small clase="tiny-text" style="text-align: center; font-size: small;">(to vote, simply double click on the girl's image)</small>
        <div class="girlpage-image-container">
            <form action="{{ url_for('vote', girl_name=girl.name) }}" method="post">
                <input type="hidden" name="other_girl_name" value="{% if girl.name %}{{ girl.name }}{% endif %}">
                <button class="girlpage-button" type="submit"><img decoding="async" class="girlpage-image" src="{{ girl.image_url }}" alt="{{ girl.name }} Image"></button>
            </form>
        </div>
        <br>
        {% if position < total_girls %}
            <p style="text-align: center;">Girl Below: <a href="{{ url_for('girl_page', girl_name=leaderboard[position].name) }}"><img decoding="async" class="mini-img" src="{{ leaderboard[position].image_url }}" alt="{{ leaderboard[position].name }}"  loading="lazy" width="50" height="50"></a> - Votes: <strong>{{ leaderboard[position].formatted_votes }}</strong></p>
        {% endif %}
    </div>
    <br>
    <div style="text-align: center; margin-top: 10px;">
        <a href="{{ url_for('index') }}"><button class="girl-button2">Back to Home</button></a>
    </div>
    <br>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <article class="message-box messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
        </article>
        <!-- <script src="{{ url_for('static', filename='js/popup.js') }}"></script>-->
        <script src="{{ url_for('static', filename='js/messagebox.js') }}"></script>
    {% endif %}
    {% endwith %}
    <a href="https://github.com/currentlyonciawatchlist/Bulmyeon" target="_blank"><small>Github</small></a>
    <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '|';">
        <ul class="centered-links">
            <li><small><a href="/tos">TOS</a></small></li>
            <li><small><a href="/privacy">Privacy</a></small></li>
            <li><small><a href="/verify">Verify</a></small></li>
            <li><small><a href="/api">API</a></small></li>
        </ul>
    </nav>
    <div class="footer-container">
        <small class="footer-text">2024 Bulmyeon.com | Made with <img class="verified-icon verified-icon-3" src="{{ url_for('static', filename='img/verified.svg') }}" alt="Verified"></img> by <a href="{{ url_for('currentlyonciawatchlist') }}" target="_blank">currentlyonciawatchlist</a></small>
    </div>
</body>
</html>
