<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/safari-pinned-tab.svg') }}" color="#211f30">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#211f30">
    <title>Bulmyeon :: Privacy Policy</title>
    <meta name="description" content="Vote for the most hottest girl!">
    <meta name="keywords" content="Bulmyeon, hot, girl, vote, game, hottest, beautiful, memes, vice, influenceurs, female, women, pink, aesthetic, beauty, y2k, leaderboard, latest, dark">
    <meta name="author" content="currentlyonciawatchlist">
    <meta property="og:title" content="Bulmyeon">
    <meta property="og:description" content="Vote for the most hottest girl!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://Bulmyeon.com/">
    <meta name="robots" content="index, follow">
</head>
<body>
    <div class="logo-container">
        <a href="{{ url_for('index') }}"><img class="logo" src="{{ url_for('static', filename='img/logohd-min.png') }}" alt="Bulmyeon logo"></a>
        <a href="{{ url_for('index') }}"><img class="logo text-logo" src="{{ url_for('static', filename='img/TempLogohd.png') }}" alt="Bulmyeon title"></a>
    </div>
    <div class="ticker-wrap ticker-wrap2">
        <div class="ticker ticker-1">
            {% for girl in random_girls %}
                {% if loop.index % 2 == 1 %}
                    <span class="item-collection-1">
                {% endif %}
                        <span class="item"><a href="{{ url_for('girl_page', girl_name=girl.name) }}"><img decoding="async" class="ticker-image" src="{{ girl.image_url }}" alt="{{ girl.name }}"  loading="lazy" width="50" height="50"></a>{% if girl.status == "verified" %}<strong class="verified-text"><img class="verified-icon verified-icon-2" src="{{ url_for('static', filename='img/verified.svg') }}" alt="Verified"></img></strong>{% endif %}{{ girl.name }}</span>
                {% if loop.index % 2 == 0 or loop.last %}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!--
    <div class="ads-container ads-container2">
        <p style="text-align: center; margin-bottom: 0;"><small>ads:</small></p>
        <a href="{{ ad_link }}" target="_blank"><img class="ads" src="{{ ad_path }}" alt="ads" decoding="async" loading="lazy" width="600" height="80"></a>
        <p style="text-align: center; margin-bottom: 0;"><small>Wants to add your ad? <a href="#">Click here</a></small></p>
    </div>
    -->
    <article class="info-container text-container">
        <h1 class="info-title">Privacy Policy</h1>
        <p class="text-primary">
            <p>Last Updated: 22/01/2024</p>

            <p>Welcome to <strong>Bulmyeon.com</strong>! This Privacy Policy outlines how we collect, use, and protect the information you provide when using our website and services. By accessing or using the Service, you agree to the terms of this Privacy Policy.</p>
            
            <h2>Information We Collect</h2>
            
            <p>We collect certain information for security reasons to fight abuse, including IP addresses. The information collected may also include the content (images) that users upload for the voting process on <strong>Bulmyeon.com</strong>. By uploading content, users grant <strong>Bulmyeon.com</strong> the right to use, reproduce, distribute, prepare derivative works of, display, and perform the content for the purpose of the Service.</p>
            
            <h2>How We Use Your Information</h2>
            
            <p>The content (images) that users upload, along with IP addresses, is used solely for the voting process on <strong>Bulmyeon.com</strong> and for security purposes to prevent abuse. We do not use this information for any other purpose, and we do not share or disclose this information to third parties.</p>
            
            <h2>Cookies</h2>
            
            <p>We do not use cookies or any other tracking technologies on <strong>Bulmyeon.com</strong>. Your privacy is important to us, and we strive to minimize the collection of user data.</p>
            
            <h2>Security</h2>
            
            <p>We take reasonable measures to protect the information provided by users, including IP addresses, to ensure the security of our platform and prevent abuse. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
            
            <h2>Children's Privacy</h2>
            
            <p><strong>Bulmyeon.com</strong> is not intended for individuals under the age of 18. We do not knowingly collect or maintain information from individuals under 18 years of age. If we become aware that we have collected information from children under the age of 18, we will take steps to delete that information.</p>
            
            <h2>Changes to This Privacy Policy</h2>
            
            <p>We reserve the right to update or change our Privacy Policy at any time. Any changes will be effective immediately upon posting. We encourage users to review this Privacy Policy periodically for any updates.</p>
            
            <h2>Contact Us</h2>
            
            <p>If you have any questions about this Privacy Policy, please contact me at my Telegram <a href="https://t.me/currentlyonciawatchlist" target="_blank">currentlyonciawatchlist</a> or my Twitter <a href="https://twitter.com/currentlycia" target="_blank">@currentlycia</a>.</p>
        </p>
    </article>
    <br>
    <div style="text-align: center; margin-top: 10px;">
        <a href="{{ url_for('index') }}"><button class="girl-button2">Back to Home</button></a>
    </div>
    <br>
    <br>
    <a href="https://github.com/currentlyonciawatchlist/Bulmyeon" target="_blank"><small>Github</small></a>
    <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '|';">
        <ul class="centered-links">
            <li><small><a href="/tos">TOS</a></small></li>
            <li><small><a href="/privacy">Privacy</a></small></li>
            <li><small><a href="/verify">Verify</a></small></li>
            <li><small><a href="/api">API</a></small></li>
        </ul>
    </nav>
    <div class="footer-container">
        <small class="footer-text">2024 Bulmyeon.com | Made with <img class="verified-icon verified-icon-3" src="{{ url_for('static', filename='img/verified.svg') }}" alt="Verified"></img> by <a href="{{ url_for('currentlyonciawatchlist') }}" target="_blank">currentlyonciawatchlist</a></small>
    </div>
</body>